.contenthandler {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &-top {
    height: 10%;
    width: 100%;
    font-size: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  &-bottom {
    height: 60%;
    width: 90%;
    font-size: 22px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
.notabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
}
